@model IEnumerable<WebStore.Models.Employee>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employees</title>
</head>
<body>

<table>
    @foreach (var emploee in Model)
    {
        <tr>
            <td>@emploee.Id</td>
            <td>@emploee.FirstName</td>
            <td>@emploee.Patronymic</td>
            <td>@emploee.SurName</td>
            <td>@emploee.Age</td>
            <td>
                <a href="~/Home/Employee/@emploee.Id">Карточка</a>
            </td>
        </tr>
    }
</table>

</body>
</html>
